django
django-seed
django-loginas
django-admin-relation-links

django-widget-tweaks
django-tables2
django-registration-redux
django-active-link
django-spurl
django-filter
django-test-plus

fabric
coverage
coveralls

django-webserver[gunicorn]
