{% extends "base.html" %}

{% block content %}
<turbo-frame id="hit">
<form novalidate action="{% url 'create_hit'  %}" method="post" accept-charset="utf-8">
        {% csrf_token %}

        {% include "form.html" %}
        <div class="field">
                <div class="control"  x-data="{buttonDisabled: false}">
                        <button type="submit" class="button is-info" x-on:click="buttonDisabled=true" x-bind:disabled="buttonDisabled">Send</button>
                </div>
        </div>
</form>
</turbo-frame>

{% endblock content %}
